{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}Create Book{% endblock %}

{% block content %}
<div class="row">
  <div class="four columns offset-by-four">
    <h1>{{ book.title }} </h1>
    <form action="{{ url_for('create_chapter', book_id=book.book_id)}}" method=post>
      {{ form.csrf_token }}
      {{ render_field(form.title) }}
      {{ render_field(form.content) }}
      {{ render_field(form.status) }}
      <input type="submit" value="Submit" class="button-primary u-full-width">
      <a class="button u-full-width" href="{{ url_for('view_book', book_id=book.book_id) }}">Cancel and Return to Book Index</a>
    </form>
  </div>
</div>
{% endblock %}