{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block title %}View Book{% endblock %}

{% block content %}
<div class="row">
  <div class="six columns offset-by-three">
    <h1>{{ book.title }}</h1>
    <h2>By {{book.username}}</h2>
    <h2>Chapter {{ chapter.number }}. {{ chapter.title }}</h2>
    <h3>Published {{ chapter.create_time }}</h3>
    <a class="button u-full-width" href="{{ url_for('view_book', book_id=book.book_id) }}">Return to Book Index</a>
    <p><pre style="white-space: pre-wrap">{{ chapter.content }}</pre></p>
    <a class="button u-full-width" href="{{ url_for('view_book', book_id=book.book_id) }}">Return to Book Index</a>
  </div>
</div>
{% endblock %}