{% extends "base.html" %}

{% block title %}Book{% endblock %}

{% block content %}
<div class="row">
  <div class="four columns">
    <div>
      {% if current_user.user_id == book.author_id %}
        <a class="button button-primary u-pull-right" href="{{ url_for('edit_book', book_id=book.book_id)}}">Edit Book</a>
      {% endif %}
      <h1>{{ book.title }}</h1>
      <dl class="inline-dl">
        <dt>Author</dt>
        <dd>{{ book.username }}</dd>
        <dt>Genres</dt>
        <dd>{{ book.genres }}</dd>
        <dt>Created</dt>
        <dd>{{ book.create_time }}</dd>
        <dt>Rating</dt>
        <dd>{{ 1 }}</dd>
        <dt>Views</dt>
        <dd>{{ 1 }}</dd>
      </dl>
      <p>{{ book.summary }}</p>
    </div>
    <div>
      <h2>Rate</h2>
      <form class="row" action="{{ url_for('rate_book', book_id=book.book_id)}}" method=post>
        <select name="rating" class="six columns">
          <option value="0" {{ rating==0 and 'selected' }}>0</option>
          <option value="1" {{ rating==1 and 'selected' }}>1</option>
          <option value="2" {{ rating==2 and 'selected' }}>2</option>
          <option value="3" {{ rating==3 and 'selected' }}>3</option>
          <option value="4" {{ rating==4 and 'selected' }}>4</option>
          <option value="5" {{ rating==5 and 'selected' }}>5</option>
          <option value="6" {{ rating==6 and 'selected' }}>6</option>
          <option value="7" {{ rating==7 and 'selected' }}>7</option>
          <option value="8" {{ rating==8 and 'selected' }}>8</option>
          <option value="9" {{ rating==9 and 'selected' }}>9</option>
          <option value="10" {{ rating==10 and 'selected' }}>10</option>
        </select>
        <input type="submit" value="Submit" class="button-primary six columns">
      </form>
    </div>
    <div>
      <a class="button button-primary u-pull-right" href="{{ url_for('create_book_comment', book_id=book.book_id)}}">Add Comment</a>
      <h2>Comments</h2>
        {% include 'comment/_comments.html' %}
      </div>
    </div>
  </div>
  <div class="eight columns">
      {% if current_user.user_id == book.author_id %}
        <a class="button button-primary u-pull-right" href="{{ url_for('create_chapter', book_id=book.book_id)}}">New Chapter</a>
      {% endif %}
      <h2>Chapters</h2>
      {% include 'book/_chapter_table.html' %}
  </div>
</div>
{% endblock %}