.page-nav {
  min-height: 60px;
  text-align: center;
}

.page-nav > ul {
  list-style: none;
  display: inline-block;
}

.page-nav > ul > li {
  display: relative;
  float: left;
}

.page-nav > ul > li > a {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 60px;
  margin-right: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}