{% extends "base.html" %}

{% macro make_book_item(book) -%}
  <div class="four columns">
    <div class="item-container">
      <dl class="inline-dl">
        <dt>Title</dt>
        <dd>{{ book.title }}</dd>
        <dt>Author</dt>
        <dd>{{ book.author }}</dd>
        <dt>Genres</dt>
        <dd>{{ book.genres }}</dd>
        <dt>Chapters</dt>
        <dd>{{ book.chapters }}</dd>
        <dt>Views</dt>
        <dd>{{ book.views }}</dd>
        <dt>Rating</dt>
        <dd>{{ book.rating }}</dd>
        <dt>Votes</dt>
        <dd>{{ book.votes }}</dd>
        <dt>Popularity</dt>
        <dd>{{ book.popularity }}</dd>
        <dt>Comments</dt>
        <dd>{{ book.comments }}</dd>
      </dl>
    </div>
  </div>
{%- endmacro %}

{% macro make_chapter_item(chapter) -%}
  <div class="four columns">
    <div class="item-container">
      <dl class="inline-dl">
        <dt>Title</dt>
        <dd>{{ chapter.title }}</dd>
        <dt>Book</dt>
        <dd>{{ chapter.book }}</dd>
        <dt>Title</dt>
        <dd>{{ chapter.chapter }}</dd>
        <dt>Title</dt>
        <dd>{{ chapter.view_count }}</dd>
        <dt>Title</dt>
        <dd>{{ chapter.create_time }}</dd>
      </dl>
    </div>
  </div>
{%- endmacro %}

{% macro make_comment_item(comment) -%}
  <div class="four columns">
    <div class="item-container">
      <dl class="inline-dl">
        <a href="">{{ comment.username }}</a> commented on
        {% if comment.is_book_comment%}
          book
        {% else %}
          chapter
        {% endif %}
        <a href="">{{ comment.title }}</a> on {{ comment.create_time }}:
        <br><br>
        <p>{{ comment.content[:100]}}</p>
      </dl>
    </div>
  </div>
{%- endmacro %}

{% block title %}Novel Cat{% endblock %}

{% block content %}
<div class="row vs">
  <h2>Popular Books</h2>
</div>
<div class="row">
  {{ make_book_item(books[0]) }}
  {{ make_book_item(books[1]) }}
  {{ make_book_item(books[2]) }}
</div>
<div class="row vs">
  <h2>Latest Chapters</h2>
</div>
<div class="row">
  {{ make_chapter_item(chapters[0]) }}
  {{ make_chapter_item(chapters[1]) }}
  {{ make_chapter_item(chapters[2]) }}
</div>
<div class="row vs">
  <h2>Latest Comments</h2>
</div>
<div class="row">
  {{ make_comment_item(comments[0]) }}
  {{ make_comment_item(comments[1]) }}
  {{ make_comment_item(comments[2]) }}
</div>
{% endblock %}