{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="four columns offset-by-four">
    <form action="/login" method=post>
      <label for="username">Username</label>
      <input class="u-full-width" type="text" placeholder="username" id="username">
      <label for="password">Password</label>
      <input class="u-full-width" type="password" placeholder="password" id="password">
      <input class="button-primary" type="submit" value="Submit">
      <input type=hidden value="{{ next or '' }}" name=next>
    </form>
  </div>
</div>
{% endblock %}