{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
  <div class="four columns offset-by-four">
    <form action="/register" method=post>
      <label for="username">Username</label>
      <input class="u-full-width" type="text" placeholder="username" id="username">
      <label for="password">Password</label>
      <input class="u-full-width" type="password" placeholder="password" id="password">
      <label for="confirm_password">Confirm Password</label>
      <input class="u-full-width" type="password" placeholder="confirm password" id="confirm_password">
      <label for="firstname">First Name</label>
      <input class="u-full-width" type="text" placeholder="first name" id="firstname">
      <label for="lastname">Last Name</label>
      <input class="u-full-width" type="text" placeholder="last name" id="lastname">
      <label for="admin">Admin Secret</label>
      <input class="u-full-width" type="password" placeholder="admin secret" id="admin">
      <input type=hidden value="{{ next or '' }}" name=next>
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}